---
import Default from '../layouts/Default.astro';
import Heading from '../components/base/Heading.astro';
import Card from '../components/base/Card.astro';
import FormItem from '../components/base/FormItem.astro';
import Input from '../components/base/Input.astro';
import { Icon } from 'astro-icon/components';
---

<Default>
  <div class="container mx-auto px-4 space-y-6">
    <Heading description="Preview your page in google search result.">
      Google Search Result Preview
    </Heading>

    <div class="flex flex-col gap-6 items-center xl:flex-row xl:items-start">
      <Card class="space-y-4 w-full xl:flex-grow">
        <FormItem id="site_title" label="Title">
          <Input
            type="text"
            id="site_title"
            placeholder="My Website"
            name="site_title"
          />
        </FormItem>
        <FormItem id="site_name" label="Name">
          <Input
            type="text"
            id="site_name"
            placeholder="Website"
            name="site_name"
          />
        </FormItem>
        <FormItem id="site_url" label="URL">
          <Input
            type="text"
            id="site_url"
            placeholder="https://website.my.id"
            name="site_url"
          />
        </FormItem>
        <FormItem id="site_description" label="Description">
          <Input
            tag="textarea"
            rows="4"
            id="site_description"
            placeholder="My website description."
            name="site_description"
          />
        </FormItem>
        <FormItem id="site_icon" label="Icon">
          <Input type="file" accept="image/*" id="site_icon" name="site_icon" />
        </FormItem>
      </Card>

      <div
        id="preview_wrapper"
        class="group device-desktop w-full xl:w-fit xl:flex-shrink-0"
      >
        <nav
          class="border-slate-200 rounded-t-lg border-2 border-b-0 bg-white grid grid-cols-2"
        >
          <button
            data-toggle-preview-device="desktop"
            class="flex items-center gap-2 justify-center border-b-2 group-[.device-desktop]:border-red-700 group-[.device-mobile]:border-slate-200 p-3 text-slate-900 rounded-tl group-[.device-mobile]:cursor-pointer rounded-tr group-[.device-mobile]:hover:bg-slate-50"
          >
            <Icon name="tabler:device-desktop" />
            Desktop
          </button>
          <button
            data-toggle-preview-device="mobile"
            class="flex items-center gap-2 justify-center border-b-2 group-[.device-mobile]:border-red-700 group-[.device-desktop]:border-slate-200 p-3 text-slate-900 group-[.device-desktop]:cursor-pointer rounded-tr group-[.device-desktop]:hover:bg-slate-50"
          >
            <Icon name="tabler:device-mobile" />
            Mobile
          </button>
        </nav>
        <Card hasTab class="font-preview-google-sans">
          <div
            class="md:group-[.device-mobile]:w-[375px] md:group-[.device-desktop]:w-[652px]"
          >
            <div id="preview_icon" class="flex items-center gap-[12px] group">
              <div
                class="group-[.active]:hidden flex-shrink-0 flex items-center justify-center size-[28px] bg-[#e5edff] rounded-full text-[#1a0dab]"
              >
                <Icon name="material-symbols:globe" class="size-[18px]" />
              </div>
              <img
                src=""
                alt=""
                class="hidden group-[.active]:block rounded-full size-7 flex-shrink-0"
              />
              <div>
                <p class="text-[14px]/[20px] text-[#1f1f1f]" id="preview_name">
                  Website
                </p>
                <p
                  class="text-[12px]/[18px] text-[#4d5156] font-preview-arial"
                  id="preview_url"
                >
                  https://website.my.id
                </p>
              </div>
            </div>
            <p
              class="text-[22px]/[28px] mt-[3px] pt-[5px] text-[#1a0dab] max-w-[575px] truncate hover:underline"
              id="preview_title"
            >
              My Website
            </p>
            <p
              class="text-[14px]/[22px] text-[#6c6c6c] font-preview-arial"
              id="preview_description"
            >
              My website description.
            </p>
          </div>
        </Card>
      </div>
    </div>
  </div>
</Default>

<script>
  const siteTitle = document.querySelector('#site_title') as HTMLInputElement;
  const siteName = document.querySelector('#site_name') as HTMLInputElement;
  const siteUrl = document.querySelector('#site_url') as HTMLInputElement;
  const siteDescription = document.querySelector(
    '#site_description',
  ) as HTMLInputElement;
  const siteIcon = document.querySelector('#site_icon') as HTMLInputElement;

  const previewWrapper = document.querySelector(
    '#preview_wrapper',
  ) as HTMLDivElement;
  const previewName = document.querySelector(
    '#preview_name',
  ) as HTMLParagraphElement;
  const previewUrl = document.querySelector(
    '#preview_url',
  ) as HTMLParagraphElement;
  const previewTitle = document.querySelector(
    '#preview_title',
  ) as HTMLParagraphElement;
  const previewDescription = document.querySelector(
    '#preview_description',
  ) as HTMLParagraphElement;
  const previewIcon = document.querySelector('#preview_icon') as HTMLDivElement;

  const togglePreviewDeviceButtons = document.querySelectorAll(
    '[data-toggle-preview-device]',
  );

  const defaultPreviewTitle = previewTitle.textContent.trim();
  const defaultPreviewName = previewName.textContent.trim();
  const defaultPreviewUrl = previewName.textContent.trim();
  const defaultPreviewDescription = previewDescription.textContent.trim();

  siteTitle.addEventListener('input', (e) => {
    previewTitle.innerText = siteTitle.value || defaultPreviewTitle;
  });
  siteName.addEventListener('input', (e) => {
    previewName.innerText = siteName.value || defaultPreviewName;
  });
  siteUrl.addEventListener('input', (e) => {
    previewUrl.innerText = `https://${siteUrl.value || defaultPreviewUrl}`;
  });
  siteDescription.addEventListener('input', (e) => {
    previewDescription.innerText = truncate(
      siteDescription.value || defaultPreviewDescription,
      155,
    );
  });
  siteIcon.addEventListener('input', () => {
    const iconImg = previewIcon.querySelector('img') as HTMLImageElement;

    if (!siteIcon.files?.length) {
      URL.revokeObjectURL(iconImg.src);

      iconImg.src = '';
      previewIcon.classList.remove('active');

      return;
    }

    const imgSrc = URL.createObjectURL(siteIcon.files[0]);

    iconImg.src = imgSrc;

    previewIcon.classList.add('active');
  });

  togglePreviewDeviceButtons.forEach((button) => {
    button.addEventListener('click', () => {
      const dataset = (button as HTMLButtonElement).dataset;

      if (dataset.togglePreviewDevice === 'mobile') {
        previewWrapper.classList.remove('device-desktop');
        previewWrapper.classList.add('device-mobile');
      } else {
        previewWrapper.classList.remove('device-mobile');
        previewWrapper.classList.add('device-desktop');
      }
    });
  });

  function truncate(text: string, length: number): string {
    if (text.length <= length) {
      return text;
    }

    let end = length;

    while (end < text.length && text[end] !== ' ') {
      end++;
    }

    return text.slice(0, end) + '...';
  }
</script>
