---
import { Icon } from 'astro-icon/components';
import Default from '../layouts/Default.astro';
import Heading from '../components/base/Heading.astro';
import Card from '../components/base/Card.astro';
import tools from '../contents/tools/tools.json';
---

<Default>
  <div class="container mx-auto px-4 space-y-6">
    <Heading>Free Seo Tools</Heading>

    <main class="grid gap-4 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {
        tools.map((tool) => (
          <Card
            tag="a"
            href={tool.to}
            class=" flex flex-col gap-3 hover:border-red-700 hover:shadow-md"
          >
            <Icon name={tool.icon} class="size-5 text-red-700" />
            <div>
              <h2 class="text-lg font-semibold">{tool.name}</h2>
              <p class="text-slate-600">{tool.description}</p>
            </div>
          </Card>
        ))
      }
    </main>
  </div>
</Default>
