---
import Heading from '../components/base/Heading.astro';
import Default from '../layouts/Default.astro';
---

<Default
  title="Open Graph Generator dan Preview | SEO Tool"
  description="Alat bantuan untuk membuat kode Open Graph siap pakai untuk semua media sosial dan dilengkapi dengan bantuan preview pada semua media sosial."
>
  <main class="container mx-auto px-4 space-y-6">
    <Heading description="Buat dan Preview Open Graph Website di Media Sosial">
      Open Graph Generator & Preview
    </Heading>
  </main>
</Default>
