---
const { description } = Astro.props;
---

<div class="space-y-2">
  <h1 class="font-bold text-3xl tracking-tight lg:text-4xl">
    <slot />
  </h1>

  {description && <p class="text-lg text-slate-600">{description}</p>}
</div>
