---
import { Icon } from 'astro-icon/components';

interface Props {
  skeleton?: boolean;
  type?: '1' | '2' | '3';
}

const { skeleton = false, type = '1' } = Astro.props;

const skeletonSizeClass = {
  '1': {
    name: 'w-[200px]',
    url: 'w-[250px]',
    title: 'max-w-[350px]',
  },
  '2': {
    name: 'w-[250px]',
    url: 'w-[150px]',
    title: 'max-w-[200px]',
  },
  '3': {
    name: 'w-[150px]',
    url: 'w-[200px]',
    title: 'max-w-[500px]',
  },
}[type];
---

<div>
  <div
    id={skeleton ? '' : 'preview_icon'}
    class="flex items-center gap-[12px] group"
  >
    {
      skeleton ? (
        <div class="size-[28px] bg-slate-100 rounded-full" />
      ) : (
        <div>
          <div class="group-[.active]:hidden flex-shrink-0 flex items-center justify-center size-[28px] bg-[#e5edff] rounded-full text-[#1a0dab]">
            <Icon name="material-symbols:globe" class="size-[18px]" />
          </div>
          <img
            src=""
            alt=""
            class="hidden group-[.active]:block rounded-full size-[28px] flex-shrink-0"
          />
        </div>
      )
    }
    <div class="max-w-[290px]">
      {
        skeleton ? (
          <div
            class={`h-[18px] bg-slate-100 rounded mb-1 ${skeletonSizeClass.name}`}
          />
        ) : (
          <p
            class="text-[14px]/[20px] text-[#1f1f1f] line-clamp-1"
            id={skeleton ? '' : 'preview_name'}
          >
            Website
          </p>
        )
      }
      {
        skeleton ? (
          <div
            class={`h-[16px] bg-slate-100 rounded ${skeletonSizeClass.url}`}
          />
        ) : (
          <p
            class="text-[12px]/[18px] text-[#4d5156] font-preview-arial line-clamp-1"
            id={skeleton ? '' : 'preview_url'}
          >
            <span
              id="preview_url_origin"
              class="md:hidden md:group-[.device-mobile]:inline"
            >
              https://website.my.id
            </span>
            <span
              id="preview_url_breadcrumb"
              class="hidden md:inline md:group-[.device-mobile]:hidden"
            >
              https://website.my.id
            </span>
          </p>
        )
      }
    </div>
  </div>
  {
    skeleton ? (
      <div
        class={`h-[30px] bg-[#1a0dab]/20 rounded mt-3 mb-2 ${skeletonSizeClass.title}`}
      />
    ) : (
      <p
        class="line-clamp-2 text-[22px]/[28px] mt-[3px] pt-[5px] text-[#1a0dab] hover:underline md:group-[.device-desktop]:w-[575px] md:group-[.device-desktop]:truncate"
        id={skeleton ? '' : 'preview_title'}
      >
        My Website
      </p>
    )
  }
  {
    skeleton ? (
      <div class="h-[50px] w-full bg-slate-100 rounded" />
    ) : (
      <p
        class="line-clamp-3 text-[14px]/[22px] text-[#6c6c6c] font-preview-arial"
        id={skeleton ? '' : 'preview_description'}
      >
        My website description.
      </p>
    )
  }
</div>
