@import 'tailwindcss';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-preview-google-sans: 'Google Sans', Arial, sans-serif;
  --font-preview-arial: Arial, sans-serif;
}
