---
import '@fontsource/dm-sans';
import '@fontsource/google-sans';
import '../style.css';
import { Icon } from 'astro-icon/components';

const {
  title = 'NaraSEO - Kumpulan Tool Gratis Untuk Kebutuhan SEO',
  description = 'Kumpulan tool gratis seputar SEO untuk meningkatkan kualitas website Anda di hasil pencarian mesin pencari. Tool Preview Google Search Result, Open Graph Generator, dll.',
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="bg-slate-50 text-slate-900">
    <nav class="bg-white border-b-2 border-slate-200 relative">
      <div
        class="container mx-auto px-4 h-14 flex items-center justify-between"
      >
        <button
          data-toggle="#navbar-menu"
          class="group navbar-toggle md:hidden"
          title="Buka Menu Navigasi"
        >
          <Icon name="tabler:menu-2" class="size-5 group-[.open]:hidden" />
          <Icon name="tabler:x" class="size-5 hidden group-[.open]:block" />
        </button>

        <a href="/" class="font-bold text-lg uppercase tracking-tight"
          >Naraseo</a
        >

        <div
          id="navbar-menu"
          class="hidden absolute top-14 left-0 bg-white w-full border-y-2 border-slate-200 py-4 md:block md:top-0 md:left-1/2 md:-translate-x-1/2 md:border-0 md:bg-transparent md:w-auto"
          data-close-outside=".navbar-toggle"
        >
          <div
            class="container mx-auto px-4 flex flex-col gap-4 md:px-0 md:flex-row md:gap-8"
          >
            <a href="" class="flex items-center gap-2 hover:text-red-700">
              <Icon name="tabler:tool" />
              SEO Tools</a
            >
            <a href="" class="flex items-center gap-2 hover:text-red-700">
              <Icon name="tabler:book-2" />
              Learn SEO</a
            >
            <a href="" class="flex items-center gap-2 hover:text-red-700">
              <Icon name="tabler:news" />
              Blog</a
            >
          </div>
        </div>

        <button title="Ganti Tema">
          <Icon name="tabler:moon" class="size-5" />
        </button>
      </div>
    </nav>

    <div class="py-6 md:py-8 lg:py-10 xl:py-12">
      <slot />
    </div>

    <script>
      const toggles = document.querySelectorAll<HTMLElement>('[data-toggle]');
      const closesOutside = document.querySelectorAll<HTMLElement>(
        '[data-close-outside]',
      );

      toggles.forEach((toggle) => {
        toggle.addEventListener('click', () => {
          const target = document.querySelector(
            toggle.dataset.toggle as string,
          ) as HTMLDivElement;

          target.classList.toggle('hidden');
          toggle.classList.toggle('open');
        });
      });

      closesOutside.forEach((el) => {
        document.addEventListener('click', (e) => {
          const exclude = document.querySelector(
            el.dataset.closeOutside as string,
          ) as HTMLElement;

          if (
            !el.contains(e.target as Node) &&
            !exclude.contains(e.target as Node)
          ) {
            el.classList.add('hidden');
            exclude.classList.remove('open');
          }
        });
      });
    </script>
  </body>
</html>
